n8n-workflows/servico-extra-recuperar.json
{
  "name": "D2P - Serviço Extra Recuperar Senha",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "servico-extra-recuperar",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "dddddddd-0004-0004-0004-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "d2p-servico-extra-recuperar"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body || body._api_key !== 'D2P-2025-9xKmPv3nLqRw7j') {\n  throw new Error('API key inválida');\n}\n\nconst email = (body.email || '').trim().toLowerCase();\nif (!email) {\n  return [{ json: { found: false } }];\n}\n\nconst N8N_URL = 'https://n8n.laminlpp.com.br/webhook';\nconst API_KEY = 'D2P-2025-9xKmPv3nLqRw7j';\n\n// 1. Buscar usuário no banco\nconst usuarios = await this.helpers.httpRequest({\n  method: 'POST',\n  url: `${N8N_URL}/db-buscar`,\n  headers: { 'Content-Type': 'application/json' },\n  body: { tabela: 'gps-acesso-extra', filtros: { email }, limit: 1, _api_key: API_KEY }\n});\n\nif (!Array.isArray(usuarios) || usuarios.length === 0) {\n  return [{ json: { found: false } }];\n}\n\nconst usuario = usuarios[0];\n\n// 2. Gerar senha temporária (8 chars, sem ambiguidade 0/O, 1/l/I)\nconst chars = 'ABCDEFGHJKLMNPQRSTUVWXYZabcdefghjkmnpqrstuvwxyz23456789';\nlet senhaTemp = '';\nfor (let i = 0; i < 8; i++) {\n  senhaTemp += chars[Math.floor(Math.random() * chars.length)];\n}\n\n// 3. Hash SHA-256 igual ao frontend: SHA256(email:senha)\nconst crypto = require('crypto');\nconst hash = crypto.createHash('sha256').update(email + ':' + senhaTemp).digest('hex');\n\n// 4. Atualizar senha no banco\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: `${N8N_URL}/db-atualizar`,\n  headers: { 'Content-Type': 'application/json' },\n  body: { tabela: 'gps-acesso-extra', filtros: { email }, dados: { senha: hash }, _api_key: API_KEY }\n});\n\nreturn [{ json: { found: true, email, nome: usuario.nome || 'Usuário', senhaTemp } }];"
      },
      "id": "dddddddd-0004-0004-0004-000000000002",
      "name": "Processar Recuperação",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "cond-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "dddddddd-0004-0004-0004-000000000003",
      "name": "Usuário encontrado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "fromEmail": "SEU_EMAIL_GMAIL_AQUI@gmail.com",
        "toEmail": "={{ $json.email }}",
        "subject": "Recuperação de Senha — Sistema Serviço Extra D2P",
        "emailType": "html",
        "message": "=<div style=\"font-family:'Segoe UI',Arial,sans-serif;max-width:520px;margin:0 auto;padding:32px 24px;background:#f8f9fa;border-radius:10px;\"><div style=\"background:#2c3e50;padding:20px 24px;border-radius:8px 8px 0 0;text-align:center;\"><div style=\"font-size:11px;color:rgba(255,255,255,0.6);letter-spacing:3px;text-transform:uppercase;\">D2P-Brazil</div><div style=\"font-size:18px;font-weight:700;color:#f1c40f;margin-top:4px;\">Serviço Extra</div></div><div style=\"background:#ffffff;padding:28px 24px;border-radius:0 0 8px 8px;border:1px solid #e0e0e0;border-top:none;\"><p style=\"font-size:15px;color:#2c3e50;margin:0 0 16px;\">Olá, <strong>{{ $json.nome }}</strong>!</p><p style=\"font-size:14px;color:#555;line-height:1.6;margin:0 0 20px;\">Recebemos uma solicitação de recuperação de senha para a conta <strong>{{ $json.email }}</strong> no Sistema Serviço Extra D2P.</p><div style=\"background:#f0faf8;border:2px solid #1a8a7a;border-radius:8px;padding:20px;text-align:center;margin:0 0 24px;\"><div style=\"font-size:12px;color:#555;text-transform:uppercase;letter-spacing:1px;margin-bottom:8px;\">Sua nova senha temporária</div><div style=\"font-size:32px;font-weight:800;color:#1a8a7a;letter-spacing:6px;font-family:monospace;\">{{ $json.senhaTemp }}</div></div><p style=\"font-size:13px;color:#555;margin:0 0 8px;\">Para entrar no sistema, use:</p><ul style=\"font-size:13px;color:#555;margin:0 0 20px;padding-left:20px;line-height:1.8;\"><li><strong>E-mail:</strong> {{ $json.email }}</li><li><strong>Senha:</strong> {{ $json.senhaTemp }}</li></ul><div style=\"text-align:center;margin-bottom:20px;\"><a href=\"https://servico-extra.laminlpp.com.br/servico-extra/index.html\" style=\"background:#1a8a7a;color:#ffffff;text-decoration:none;padding:12px 28px;border-radius:6px;font-size:14px;font-weight:700;display:inline-block;\">ACESSAR O SISTEMA</a></div><p style=\"font-size:12px;color:#888;margin:0;\">Se você não solicitou esta recuperação, ignore este e-mail.</p></div></div>",
        "options": {
          "replyTo": "leandro.lamin@gpssa.com.br"
        }
      },
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_NAS_CREDENTIALS_DO_N8N",
          "name": "Gmail D2P Serviço Extra"
        }
      },
      "id": "dddddddd-0004-0004-0004-000000000004",
      "name": "Enviar E-mail",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true}",
        "options": {}
      },
      "id": "dddddddd-0004-0004-0004-000000000005",
      "name": "Responder OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"ok\":true}",
        "options": {}
      },
      "id": "dddddddd-0004-0004-0004-000000000006",
      "name": "Responder OK (não encontrado)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Processar Recuperação", "type": "main", "index": 0 }]
      ]
    },
    "Processar Recuperação": {
      "main": [
        [{ "node": "Usuário encontrado?", "type": "main", "index": 0 }]
      ]
    },
    "Usuário encontrado?": {
      "main": [
        [{ "node": "Enviar E-mail", "type": "main", "index": 0 }],
        [{ "node": "Responder OK (não encontrado)", "type": "main", "index": 0 }]
      ]
    },
    "Enviar E-mail": {
      "main": [
        [{ "node": "Responder OK", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "templateCredsSetupCompleted": false },
  "tags": []
}
