n8n-workflows/storage-upload.json
{
  "name": "D2P - Storage Upload",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "storage-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bbbbbbbb-0002-0002-0002-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "d2p-storage-upload"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\n\nif (!body || body._api_key !== 'D2P-2025-9xKmPv3nLqRw7j') {\n  throw new Error('API key inválida');\n}\n\nif (!body.dados || !body.nome || !body.content_type) {\n  return [{ json: { ok: false, error: 'Parâmetros obrigatórios ausentes: dados, nome, content_type' } }];\n}\n\nconst bucket = body.bucket || 'assets';\nconst buffer = Buffer.from(body.dados, 'base64');\n\nlet ok = false;\nlet errorMsg = '';\n\ntry {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: `https://n8n-supabase.tbjno4.easypanel.host/storage/v1/object/${bucket}/${body.nome}`,\n    headers: {\n      'Authorization': 'Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJyb2xlIjoic2VydmljZV9yb2xlIiwiaXNzIjoic3VwYWJhc2UiLCJpYXQiOjE2NDE3NjkyMDAsImV4cCI6MTc5OTUzNTYwMH0.ltgccMHjFZd9KWoa9zyrzI5J160DoDM7YpfzNj-MMOk',\n      'Content-Type': body.content_type,\n      'x-upsert': body.upsert ? 'true' : 'false'\n    },\n    body: buffer\n  });\n  ok = true;\n} catch (err) {\n  errorMsg = err.message || 'Falha no upload';\n}\n\nreturn [{ json: { ok, error: errorMsg } }];"
      },
      "id": "bbbbbbbb-0002-0002-0002-000000000002",
      "name": "Upload no Supabase",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Content-Type", "value": "application/json" }
            ]
          }
        }
      },
      "id": "bbbbbbbb-0002-0002-0002-000000000003",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Upload no Supabase", "type": "main", "index": 0 }]
      ]
    },
    "Upload no Supabase": {
      "main": [
        [{ "node": "Responder", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "1",
  "meta": { "templateCredsSetupCompleted": true },
  "tags": []
}
